<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome message</title>
</head>
<body>
    <h1>check</h1>
    <h1>checking</h1>
    <h1>checked</h1>
    <h1>Trying nodemailer for the first time</h1>
    <div id="random"><%= randomNumber %></div>
    <!-- <p>May be working if directory name and other informations are correct.</p> -->

    <!-- <script>
        const temp = ()=>{
            return Math.floor(Math.random()*10000)
        }

        const randomNumber = temp()


    </script> -->
</body>
</html>